.btn {
  cursor: pointer;
}

body {
  color: #ecf0f1;
}

.clicked {
  color: red;
}

.form {
  display: none;
}
/* form을 none 함으로써 입력후 입력창이 안보임 */

.greetings {
  display: none;
}
/* greetings은 입력 후 결과값 */

.showing {
  display: block;
}
/* showing이 form과 greetings classList에 생성/삭제 반복됨 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* z-index 이거 개념 모름 */
  animation: fadeIn 0.5s linear;
}
